@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@600&family=Work+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@600&family=Roboto:wght@100&family=Work+Sans:wght@600&display=swap');

:root {
    /* colors */
    --black: #000;
    --blue: #3c4ba6;
    --white: #FFF;
    --light-bg: #F6F9FF;
    --clear: rgba(0, 0, 0, 0);
    --light-grey: rgb(230, 230, 235);
    --light-blue-to-none-gradient: linear-gradient(180deg, var(--light-bg) 0%, var(--clear) 100%);
    /* images */
    --start-img: url(/images/upper_section_img.png);
    --doodle-img: url(/images/doodle.svg);
}

html {
    font-size: 12px;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

p {
    margin: 0;
    padding: 0;
}

input {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    appearance: none;
    border-radius: 0;
    color: inherit;
    font-family: inherit;
    background-color: inherit;
}

.header__bg {
    background-color: var(--black);
}

.header {
    font-family: 'Assistant', sans-serif;
    padding: 2.8rem 9rem;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

.header__logo {
    font-size: 29px;
    font-weight: 900;
}

.navigation {
    display: flex;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    gap: 3rem;
}

.nav__item {
    white-space: nowrap;
}

.upper_section {
    min-height: 68.75rem;
    background-color: var(--white);
}

.upper_section__wrapper {
    margin: 0 9rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background-color: var(--clear);
}

.upper_section__wrapper-left {
    display: flex;
    flex-direction: column;
    max-width: 47rem;
}

.upper_section__bold-text {
    font-family: 'Work Sans', sans-serif;
    font-size: 72px;
    font-weight: 600;
    margin-top: 1rem;
}

.upper_section__thin-text {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 37rem;
}

.upper_section__wrapper-right {
    min-width: 30rem;
    background: var(--start-img) no-repeat;
    background-size: 100%;
    background-color: var(--clear);
}

.upper_section__email {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: baseline;
}

.upper_section__enter-place {
    width: 23.5rem;
    height: 5.9rem;
    border: var(--blue) .1rem solid;
}

.upper_section__enter-place::placeholder {
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: bold;
    padding-left: 2rem;
    color: var(--black);
}

.upper_section__invite-button {
    width: 12.5rem;
    height: 6rem;
    background-color: var(--blue);
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: bold;
}

.solutions_section {
    max-height: 68.75rem;
    background: var(--doodle-img) no-repeat;
    background-position-y: 62rem;
    background-color: var(--light-bg);
}

.solutions_section__wrapper {
    background-color: var(--clear);
    margin: 0 9rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.solutions_section__wrapper-top {
    background-color: var(--clear);
    display: flex;
    justify-content: center;
}

.solutions_section__heading {
    font-family: 'Work Sans', sans-serif;
    font-size: 62px;
    font-weight: 600;
    padding-top: 11.6rem;
    padding-bottom: 8rem;
}

.solutions_section__wrapper-bottom {
    margin-bottom: 14rem;
    background-color: var(--clear);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.solutions_section__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 30.17rem;
    min-height: 32.42rem;
    background-color: var(--white);
    padding-left: 1.67rem;
    border-radius: .2rem;
}

.solutions_section__card__bold-text {
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
}

.solutions_section__card__thin-text {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 1.6rem;
    margin-top: 1.6rem;
    max-width: 24.3rem;
}

.solutions_section__card__info-link {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
    color: var(--blue)
}

.solutions_section__card__arrow {
    padding-left: 1rem;
}

.solutions_section__card-roadmap__image {
    background-color: var(--blue);
    padding: 1.4rem;
    border-radius: .5rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
    box-shadow: 0 1rem 2rem var(--light-grey);
}

.solutions_section__card__image {
    background-color: var(--blue);
    max-width: 7.9rem;
    min-height: 7.9rem;
    border-radius: .5rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
    box-shadow: 0 1rem 2rem var(--light-grey);
}

.solutions_section__card-goals__arrow-image {
    background-color: var(--clear);
    position: relative;
    top: -3.5rem; left: 3.57rem;
}

.solutions_section__card-goals__target-center-image {
    background-color: var(--clear);
    position: relative;
    top: 0.49rem; left: -1.25rem;
}

.solutions_section__card-goals__target-aside-image {
    background-color: var(--clear);
    position: relative;
    top: 1.825rem; left: 1.86rem;
}

.solutions_section__card-achievements__flag-image {
    background-color: var(--clear);
    position: relative;
    top: -2.15rem; left: 3.9rem;
}

.solutions_section__card-achievements__one-mont-image {
    background-color: var(--clear);
    position: relative;
    top: 2.85rem; left: -1.9rem;
}

.solutions_section__card-achievements__two-monts-image {
    background-color: var(--clear);
    position: relative;
    top: 3.5rem; left: 1.5rem;
}

.together_place_section {
    max-height: 68.75rem;
    background: var(--doodle-img) no-repeat;
    clip-path: inset(0 0 0 7rem);
    background-position-y: -6.8rem;
    background-color: var(--white);
}

.together_place_section__wrapper {
    margin: 0 9rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background-color: var(--clear);
    align-items: center;
}

.together_place_section__wrapper-left {
    display: flex;
    flex-direction: column;
}

.together_place_section__wrapper-left__bold-text {
    font-family: 'Work Sans', sans-serif;
    margin-top: 3rem;
    font-size: 62px;
    font-weight: 600;
    max-width: 47rem;
}

.together_place_section__wrapper-left__thin-text {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    max-width: 32rem;
    line-height: 150%;
}

.together_place_section__wrapper-right__card_bg {
    max-height: 40.5rem;
    max-width: 44.5rem;
    background: var(--light-blue-to-none-gradient);
    margin-top: 10rem;
    margin-bottom: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .4rem;
    padding: 6rem 0 6rem;
}

.together_place_section__wrapper-right__root-subcard {
    max-height: 6.8rem;
    max-width: 36rem;
    background-color: var(--white);
    border-radius: .3rem;
    margin: 0 4rem 0;
}

.together_place_section__wrapper-right__root-subcard__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: var(--clear);
    align-content: center;
    margin: 2rem 2.5rem 2rem;
    gap: 5.5rem;
}

.together_place_section__wrapper-right__root-subcard__wrapper-left {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: var(--clear);
    align-items: start;
    min-height: 3.5rem;
}

.together_place_section__wrapper-right__root-subcard__wrapper-right {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: var(--clear);
    align-items: end;
}

.together_place_section__wrapper-right__root-subcard__wrapper-left__grey-bar {
    min-height: 0.8rem;
    min-width: 10rem;
    background-color: var(--light-bg);
    border-radius: .5rem;
}

.together_place_section__wrapper-right__root-subcard__wrapper-left__text {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.together_place_section__wrapper-right__root-subcard__wrapper-right__text {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 15rem;
}

.together_place_section__wrapper-right__root-subcard__wrapper-right__text-bottom {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.together_place_section__wrapper-right__root-subcard__wrapper-right__left-bar-grey-bg {
    min-height: 0.8rem;
    min-width: 14.5rem;
    background-color: var(--light-bg);
    border-radius: .5rem;
    margin-right: .5rem;
}

.together_place_section__wrapper-right__root-subcard__wrapper-right__left-bar-blue {
    min-height: 0.8rem;
    max-width: 10rem;
    background-color: var(--blue);
    border-radius: .5rem;
}

.together_place_section__wrapper-right__tree {
    min-width: 35.4rem;
    min-height: 20rem;
}

.together_place_section__wrapper-right__tree__graphic-options-tree {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: var(--clear);
    min-width: 35.4rem;
    min-height: 20rem;
}

.together_place_section__wrapper-right__tree__graphic-options-tree::before {
    content: '';
    position: absolute;
    min-width: .5rem;
    min-height: 31%;
    background-color: var(--blue);
    border-radius: .3rem;
}

.together_place_section__wrapper-right__tree__graphic-options-tree__branch-subcard {
    max-height: 4.2rem;
    max-width: 27rem;
    background-color: var(--white);
    position: relative;
    top: 2rem;
    border-radius: .4rem;
    box-shadow: 0 1rem 2rem var(--light-grey);
    align-self: end;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.together_place_section__wrapper-right__tree__graphic-options-tree__branch-subcard::before {
    content: '';
    position: absolute;
    width: 6rem;
    height: .6rem;
    background-color: var(--blue);
    border-radius: .3rem;
    top: 0;
    left: 0;
    transform: translate(-8.4rem, 2rem);
}

.together_place_section__wrapper-right__tree__graphic-options-tree__branch-subcard__tick-image {
    background-color: var(--black);
    padding: .4rem;
    border-radius: .9rem;
    margin-left: 3rem;
}

.together_place_section__wrapper-right__tree__graphic-options-tree__branch-subcard__empty-bar-grey {
    min-height: .8rem;
    min-width: 11rem;
    background-color: var(--light-bg);
    border-radius: .5rem;
}

.together_place_section__wrapper-right__tree__graphic-options-tree__branch-subcard__icon-1 {
    clip-path: circle(50%);
    margin: 1rem 3rem 1rem 4.5rem;
}

.together_place_section__wrapper-right__tree__graphic-options-tree__branch-subcard__icon-2 {
    clip-path: circle(50%);
    margin: 1rem 3rem 1rem 4.5rem;
}